@import-normalize; /* bring in normalize.css styles */

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

:root {
  --accent: #07447c;
  --interactable: #00648b;
  --hover: #003e57;
  --text: #323232;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

